Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /assets/$1 [L]
RewriteRule ^css/(.*)$ /css/$1 [L]
RewriteRule ^fonts/(.*)$ /fonts/$1 [L]
RewriteRule ^js/(.*)$ /js/$1 [L]
RewriteRule ^images/(.*)$ /images/$1 [L]
RewriteRule (.*) /web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php